$btn-color:#c5e09b;
$black-color:#000000;
label{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    position: relative;
    cursor: pointer;

    input[type='radio']{
        background-attachment: fixed;
        position: absolute;
        visibility: hidden;
        z-index: -999;
    }

    &:nth-child(odd){
        justify-content: flex-end;
    }
    &:nth-child(even){
        justify-content: flex-start;
    }

    span{
        background-color: $btn-color; 
        color: $black-color;
        padding: 0px 15px;
        font-size: 14px;
        border-radius: 2px;     
        text-transform: capitalize;
    }

}